<h1>Movies</h1>
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-6"><input [(ngModel)]="filter" (change)="func()" placeholder="type to filter movies" /></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><strong>Movie</strong></div>
        <div class="col-sm-2"><strong>Genre</strong></div>
        <div class="col-sm-1"><strong>Release Date</strong></div>
        <div class="col-sm-1"><strong>Runtime</strong></div>
        <div class="col-sm-4"><strong>Plot</strong></div>
    </div>
    <div *ngFor="let movie of movies | moviesFilter : filter" class="row">
     <movie [movie]="movie"></movie>
    </div>
</div>